# ===== Backend (Java / Spring) =====
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

# ===== IDEs =====
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.springBeans
.sts4-cache

# ===== NetBeans =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===== Frontend (React, Vue, etc.) =====
node_modules/
dist/
build/
.next/
out/

# ===== Logs =====
*.log

# ===== Sistema =====
.DS_Store
Thumbs.db

# ===== Ambiente =====
.env
.env.*